node_modules/
APP_FILES/node_modules/
mcp-gdrive-main/node_modules/
mcp-gdrive-main/AUTH/
google-calendar-mcp/node_modules/
off_lims/
google-calendar-mcp/.env
zips/
APP_FILES/SERVERS/mcp-gdrive-main/AUTH/
APP_FILES/SERVERS/google-calendar-mcp/.env
APP_FILES/SERVERS/mcp-gdrive-main/.env
APP_FILES/SERVERS/mcp-google-sheets-main/.env
APP_FILES/SERVERS/google-calendar-mcp/auth-url.txt
APP_FILES/SERVERS/google-calendar-mcp/refresh_token.txt
claude_config.json
claude_config_old.txt
APP_FILES/SERVERS/google-calendar-mcp/credentials.json
APP_FILES/SERVERS/mcp-gdrive-main/auth-url.txt
finaltemplate.txt
APP_FILES/SERVERS/mcp-google-sheets-main/auth-url.txt
APP_FILES/SERVERS/mcp-google-sheets-main/envtemp.txt
APP_FILES/SERVERS/mcp-gdrive-main/envtemp.txt
APP_FILES/SERVERS/google-calendar-mcp/envtemp.txt
APP_FILES/final_config.json